.container {
  display: flex;
  width: 100%;
}
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px black;
  align-items: center;
}
.logo{
  color: MediumAquamarine;
  justify-content: flex-start;
  min-width: 100px;
}
.container .navbar {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.img{
  padding: 10px;
  padding-left: 20px;
  justify-content: flex-start;
}
span {
  padding: 10px;
}
